langchain
langchain-core
langchain-community
langchain-classic



# LLM Providers


langchain-openai
langchain-mistralai
openai
mistralai


# Vector Database

chromadb


# Embedding Models

sentence-transformers


# Document Loaders dependencies

pypdf
unstructured
beautifulsoup4
lxml

# Text Processing

tiktoken


# Environment variables


python-dotenv


# Data Handling

pandas
numpy

# API/ App Layer

fastapi
uvicorn


# UI

streamlit

#Utilities

tqdm
requests